.card-container {
  background: var(--bg-card);
  padding: 25px;
  border-radius: 20px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.card-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
}

.custom-table th {
  text-align: center;
  padding: 12px;
  color: var(--text-muted);
  font-size: 13px;
  border-bottom: 1px solid var(--border-color);
}

.custom-table td {
  text-align: center;
  padding: 15px 12px;
  font-size: 15px;
}

.tag {
  padding: 4px 12px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 700;
}

.tag.income { background: #e6f9f4; color: var(--success); }
.tag.expense { background: #fdf2f1; color: var(--error); }

.action-btn {
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  color: var(--text-muted);
}

.action-btn.delete:hover { color: var(--error); }
.action-btn.edit:hover { color: var(--primary); }


@media (max-width: 640px) {
  .custom-table th:nth-child(1), /* Date */
  .custom-table td:nth-child(1) {
    display: none; /* Hide date on very small phones to save space */
  }
  
  .custom-table th, .custom-table td {
    padding: 10px 5px; /* Reduce padding */
    font-size: 12px; /* Smaller font */
  }
}